body {
      font: 400 15px/1.0 Roboto, sans-serif;
      color: #777;
      margin: 0rem;
      min-height: 100vh;
      background-color: #222;
      height: 100%;
      width: 100%;
  } 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
/* -------------------------------------------------------navbar*/
.navbar {
      font-family: 'Roboto', sans-serif;
      margin-bottom: 0;
      background-color: #222;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 5px;
      opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
      color: #ecf0f1 !important;
  }
  .navbar-nav li a:hover {
      color: #e67e22 !important;
  }
  .navbar-nav li.active a {
      color: #ecf0f1 !important;
      background-color: #e67e22 !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .open .dropdown-toggle {
      color: #ecf0f1;
      background-color: #555 !important;
  }
  .dropdown-menu li a {
      color: #000 !important;
  }
  .dropdown-menu li a:hover {
      background-color: #e67e22 !important;
  }

  /* -------------------------------------------------------intro*/

  .myPage{
  display: table;
  width: 100%;
  height: auto;
  padding: 250px 0;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  }

 .hello{
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    color: #ecf0f1;
    padding-left: 20px;
  }
  #efect{
    position: relative;
    
  }
/* -------------------------------------------------------apresentação*/
.apresentacaoEnfa{
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
}
  #sobre{
    background-color:#222;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    word-spacing: 5px;
  }
  .about{
      padding-top: 50px;
      padding-bottom: 10px;
    }

  .socialBtn a{
    display: inline-block;
    text-decoration: none;
    color: #ecf0f1;
    padding: 20px 10px 0px 10px;
  }

  .socialBtn a:hover{
    text-decoration: none;
    color: #e67e22;
  }

  .apresentacao{
    font-size: 20px;
    line-height: 100%;
    word-spacing: 
  }
  
/* -------------------------------------------------------projectos*/
img{
  width: 600px;
  height: 300px;
  overflow: hidden;
}
#portfolio{
  padding-top: 50px;
  background-color: #222;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  color: #ecf0f1;
  opacity: 0;
  display: block;
  background:rgba(230, 126, 34,0.8);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.portfolio-box:focus {
  outline: none;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}
.call-to-action h2 {
  margin: 0 auto 20px;
}
.text-primary {
  color: #e67e22;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

  /* -------------------------------------------------------map /contacto*/
 .container {
      padding-top: 150px;
      padding-bottom: 50px;
  }
  
 .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
  .btn {
      padding: 10px 20px;
      background-color: #222;
      border-color: #ecf0f1;
      color: #ecf0f1;
      border-radius: 0;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #e67e22;
      color: #000;
  }

  .nav-tabs li a {
      color: #777;
  }
  #googleMap {
      width: 100%;
      height: 400px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
  } 
  /* -------------------------------------------------------efeito*/
  #canvas{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  padding-bottom: 50px;
  }
  /* -------------------------------------------------------footer*/
 footer {
      color: #ecf0f1;
      padding: 32px;
  }
  footer a {
      color: #ecf0f1;
      width: 50px;
  }
  footer a:hover {
      color: #e67e22;
      text-decoration: none;
  }  
  .form-control {
      border-radius: 0;
  }
  textarea {
      resize: none;
  }



/* -------------------------------------------------Pag. do resume*/   
/* ------------------------------------------------- cabeçalho*/
.dados {
    background-color: rgba(22, 160, 133,1.0);
    width: 585px;
    height: 200px;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.btn-success{
  background-color: #16a085;
  margin-top: 20px;
  margin-right: 20px;
  border: solid 2px rgba(236, 240, 241,1.0);
  color: rgba(236, 240, 241,1.0);
  width: 150px;
  height: 50px;
}
.btn-success:hover{
  background-color: rgba(236, 240, 241,1.0);
  border: solid 2px rgba(236, 240, 241,1.0);
  color: #16a085;
}
/* -------------------------------------------------Pag. da formação*/
  ul{
    display: block;
    list-style-type: none;
    padding: 0;
  }
  .formação{
    background-color: rgba(127, 140, 141,1.0);
    color: black;
    height: 1300px;
  }
  .formaçãoInterno{
    padding-top: 155px;
    padding-right: 5px;
    padding-bottom: 50px;
  }
  .formaçãoInterno h4{
    font-size: 20px;
    padding-bottom: 0px;
  }
  .formação h2{
    font-size: 25px;
    padding-bottom: 0px;
    text-decoration: underline;
  }
/* -------------------------------------------------Pag. da experiencia*/
  .empresa{
    background-color: rgba(236, 240, 241,1.0);
    height: 1300px;
  }
  .empresaInterna h1{
    font-size: 80px;
  }
  .empresaInterna{
    padding: 50px 200px 20px 20px;
  }
  .socialBtnResume{
    margin: 0 auto;
  }
  .socialBtnResume a{
    display: inline-block;
    text-decoration: none;
    color: #16a085;
    padding: 20px 10px 50px 10px;
  }
  .socialBtnResume a:hover{
    text-decoration: none;
    color: #e67e22;
  }

  .exp li h4{
    padding-top: 10px;
  }
  .exp a{
    color: #16a085;
    text-decoration: underline;
  }
  .icons i{
    color: #black;
  }
  .green{ 
    color: #16a085;
  }
